<?xml version="1.0" encoding="UTF-8"?>

<phpunit  bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="PhpToolCase Test Suite">
			<directory>tests/phptoolcase/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>
</phpunit>