<?xml version="1.0" encoding="UTF-8"?>

<phpunit  bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="PhpToolCase Test Suite">
			<directory>tests/phptoolcase</directory>
			<directory suffix=".php">tests/phptoolcase/dependencies</directory>
			<exclude>tests/phptoolcase/dependencies/views</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>
	<php>
		<var name="DB_HOST" value="localhost" />
		<var name="DB_USER" value="root" />
		<var name="DB_PASSWORD" value="" />
		<var name="DB_DBNAME" value="phptoolcase" />
	</php>
</phpunit>