<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="components">
      <directory>./tests/phptoolcase</directory>
      <directory suffix=".php">./tests/phptoolcase/dependencies</directory>
      <exclude>./tests/phptoolcase/ShortCutsTest.php</exclude>
      <exclude>./tests/phptoolcase/dependencies/router</exclude>
    </testsuite>
    <testsuite name="shortcuts">
      <directory>./tests/phptoolcase/ShortCutsTest.php</directory>
      <directory suffix=".php">./tests/phptoolcase/dependencies</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="DB_HOST" value="localhost"/>
    <var name="DB_USER" value="root"/>
    <var name="DB_PASSWORD" value=""/>
    <var name="DB_DBNAME" value="phptoolcase"/>
    <var name="ROUTER_REQUESTS_PATH" value="/projects/php/phptoolcase/tests/phptoolcase/dependencies/router/"/>
    <server name="REQUEST_URI" value="127.0.0.1"/>
    <server name="HTTP_HOST" value="http://localhost"/>
    <server name="REMOTE_ADDR" value="127.0.0.1"/>
  </php>
</phpunit>
